<h1>Add An Item to Sell:</h1>
<p>Fill out this form to put an item up for sale!</p>

<form action="/items/" method="post">
    <label>Item Info </label>
    <legend>Name: </legend>
    <input type="text" name="name">
    <legend>Description: </legend>
    <input type="text" name="description">
    <legend>Price: </legend>
    <input type="text" name="price">
    <br>

    <button type="submit">Submit</button>
</form>
<a href="/">Cancel</a>